$cd-width = 550px
$cd-height = 510px
$cd-disc-size = 480px
$cd-edge-size = 20px
$edge-color = rgba(180, 180, 180, 0.9)

.cd
  position relative
  background-color rgba(255, 255, 255, 0.9)
  width $cd-width
  height $cd-height
  // margin-left 600px
  // margin-top 300px
  perspective 12000px
  box-shadow black 0 0 10px 0
  background-color #fff3f3
  left 50%
  transform-origin 0 0
  transform-style preserve-3d

  &__cover
    position absolute
    width $cd-width
    height $cd-height
    transform-origin 0
    transform: translateZ(0.2px) rotateY(0deg)
    transition all 1s
    transform-style preserve-3d

  &__cover.peek
    transform: translateZ(0.2px) rotateY(-35deg)

  &__cover-front
    position absolute
    transform translateZ(0.1px)
    backface-visibility hidden
    background-color rgba(255, 255, 255, 0.6)
    width $cd-width
    height $cd-height
    background-image url('images/cd-cover.png')
    box-shadow black 0 0 10px 0

  &__cover-back
    position absolute
    transform rotateY(180deg)
    backface-visibility hidden
    background-color #eee2e2
    width $cd-width
    height $cd-height
    box-shadow black 0 0 10px 0

  &__cover-edge1
    position absolute
    top 0
    right 0
    width $cd-edge-size
    height $cd-height
    transform rotateY(-90deg)
    transform-origin 100% 0
    background-color $edge-color
    backface-visibility visible

  &__cover-edge2
    position absolute
    left 0
    bottom 0
    height $cd-edge-size
    width $cd-width
    background-color $edge-color
    transform rotateX(90deg)
    transform-origin 0 100%
    backface-visibility visible

  &__cover-edge3
    position absolute
    left 0
    top 0
    height $cd-edge-size
    width $cd-width
    background-color $edge-color
    transform rotateX(-90deg)
    transform-origin 0 0
    backface-visibility visible

  &__cover-edge4
    position absolute
    left 0
    top 0
    height $cd-height
    width $cd-edge-size
    background-color $edge-color
    transform rotateY(90deg)
    transform-origin 0 0
    backface-visibility visible

  &__disc
    position absolute
    width $cd-disc-size
    height $cd-disc-size
    border-radius ($cd-disc-size / 2)
    top (($cd-height - $cd-disc-size) / 2)
    left (($cd-width - $cd-disc-size) / 2)
    transform translateZ(0.1px)
    transition all 2s
    background-image url("images/cd-disc.png")
    background-size cover
    background-position center

  &:hover &__cover, &__cover.open
    transform rotateY(-100deg)

  &:hover &__disc, &__disc.open
    transform translateZ(0.1px) scale(1.15)

.cd-description
  position absolute
  right 55%
  top 20%

.cd-title
  color $title-pink
  font-size 90px
  text-shadow 0 0 20px $text-shadow-pink

.title-song
  font-size 13px
  padding 0 20px

.cd-songs
  color $title-pink
  text-shadow 0 0 20px $text-shadow-pink

@media (max-width: 500px)
  .cd
    left 0
    transform scale(0.7)
  .cd-description
    top auto
    position relative
    right auto
