$cd-width = 550px
$cd-height = 510px
$cd-disc-size = 480px
$cd-edge-size = 20px

.cd
  position relative
  // background-color white
  width $cd-width
  height $cd-height
  // margin-left 600px
  // margin-top 300px
  perspective 12000px
  // box-shadow black 0 0 2px 0
  // transform rotateX(25deg) rotateY(-45deg)
  left 50%
  transform-origin 0 0

  &__cover
    position absolute
    width $cd-width
    height $cd-height
    transform-origin 0
    // transform rotateY(-30deg)
    transform rotateY(0deg)
    // transition all 1s

  &__cover-front
    position absolute
    transform rotateY(0deg)
    backface-visibility hidden
    background-color rgba(255, 255, 255, 0.6)
    width $cd-width
    height $cd-height
    background-image url('images/cd-cover.png')
    // box-shadow black 0 0 20px 0

  &__cover-back
    position absolute
    transform rotateY(180deg)
    backface-visibility hidden
    // background-color white
    width $cd-width
    height $cd-height

  &__cover-edge1
    position absolute
    top 0
    right 0
    width $cd-edge-size
    height $cd-height
    transform rotateY(-90deg)
    transform-origin 100% 0
    background-color gray
    backface-visibility visible

  &__cover-edge2
    position absolute
    left 0
    bottom 0
    height $cd-edge-size
    width $cd-width
    background-color gray
    transform rotateX(90deg)
    transform-origin 0 100%
    backface-visibility visible

  &__cover-edge3
    position absolute
    left 0
    top 0
    height $cd-edge-size
    width $cd-width
    background-color gray
    transform rotateX(-90deg)
    transform-origin 0 0
    backface-visibility visible

  &__cover-edge4
    position absolute
    left 0
    top 0
    height $cd-height
    width $cd-edge-size
    background-color gray
    transform rotateY(90deg)
    transform-origin 0 0
    backface-visibility visible

  &__disc
    position absolute
    width $cd-disc-size
    height $cd-disc-size
    border-radius ($cd-disc-size / 2)
    background-color white
    top (($cd-height - $cd-disc-size) / 2)
    left (($cd-width - $cd-disc-size) / 2)
    box-shadow black 0 1px 5px 0px
    transition all 2s

  // &:hover &__cover
  //   transform rotateY(-180deg)

  // &:hover &__disc
  //   transform scale(1.1) translateZ(1px)
  //   box-shadow black 0 1px 5px 0px

.cd-description
  position absolute
  right 55%
  top 20%

.cd-title
  color $title-pink
  font-size 90px
  text-shadow 0 0 20px $text-shadow-pink

.title-song
  font-size 13px
  padding 0 20px

.cd-songs
  color $title-pink
  text-shadow 0 0 20px $text-shadow-pink

@media (max-width: 500px)
  .cd
    left 0
    transform scale(0.7)
  .cd-description
    top auto
    position relative
    right auto
