.section2
  text-align center
  color $title-pink
  text-shadow 0 0 20px $text-shadow-pink

.strap
  position relative
  width 259px
  height 485px
  top 0px
  display inline-block

.mousepad
  position relative
  margin-top 200px
  width 500px
  height 329px
  display inline-block

@media (max-width: 500px)
  .strap
    width 259px
    height auto

  .mousepad
    width 500px
    height auto
