.section3
  text-align center
  color $title-pink
  text-shadow 0 0 20px $text-shadow-pink

  .tokuten
    font-size 50px

  .tokuten-item
    display inline-block
    width 300px

  .sticker img
    box-shadow: #000 0 0 9px 0
